@{
    ViewData["Title"] = "Sources";
}
<p class="title"><span class="fancy">Sources</span></p>

<ul class="sourceList">
    <li>Book & Author Information:</li>
    <ul>
        <li><a href="https://www.wikipedia.org/" target="_blank">Wikipedia</a></li>
        <li><a href="https://www.goodreads.com/" target="_blank">GoodReads</a></li>
        <li><a href="https://www.amazon.com/" target="_blank">Amazon</a></li>
    </ul>
    <li>Book Covers:</li>
    <ul>
        <li><a href="https://openlibrary.org/dev/docs/api/covers" target="_blank">Open Library Covers API </a></li>
    </ul>
</ul>
